asgiref==3.8.1
dj-database-url==2.1.0
Django==5.0.4
django-crispy-forms==2.1
django-factory-boy==1.0.0
django-static-fontawesome==6.4.2.1
factory-boy==3.3.0
Faker==24.9.0
h11==0.14.0
hpack==4.0.0
hyperframe==6.0.1
pillow==10.3.0
psycopg==3.1.18
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.6.0
